#!/usr/bin/make -f

export GOTELEMETRY = off

%:
	dh $@

override_dh_auto_build:
	touch .env
	make client

override_dh_auto_install:
	install -D -m 0755 bin/irgsh-cli debian/irgsh-cli/usr/bin/irgsh-cli

override_dh_auto_clean:
	rm -rf bin/ irgsh-cli
	rm -rf debian/.debhelper debian/irgsh-cli
	rm -f debian/debhelper-build-stamp debian/files debian/*.substvars
